<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<context-param>  
	    <param-name>spring.profiles.active</param-name>  
	    <param-value>dev</param-value>  
	</context-param>  
	<context-param>  
	    <param-name>spring.profiles.default</param-name>  
	    <param-value>dev</param-value>  
	</context-param>  
	<context-param>  
	    <param-name>spring.liveBeansView.mbeanDomain</param-name>  
	    <param-value>dev</param-value>  
	</context-param>
	
	<!-- logback配置 
	<context-param>  
         <param-name>logbackConfigLocation</param-name>  
         <param-value>classpath:logback.xml</param-value>  
	</context-param>  
	<listener>  
	         <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>  
	</listener>-->
	
	<!-- Spring配置  -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath:spring/spring-config.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	 

	<!-- Spring MVC配置 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- 2、解决post请求中文乱码。get请求乱码解决办法：如果是tomcat的话需在server.xml第一个Connector中加入URIEncoding="UTF-8" -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--定义错误页面-->
	<error-page>
		<error-code>404</error-code>
		<location>/pages/common/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/common/error/error.jsp</location>
	</error-page>
	
	<!-- 首页 -->
	<welcome-file-list>
		<welcome-file>/pages/index.html</welcome-file>
	</welcome-file-list>
</web-app>
